{% extends 'base.html' %}

{% block content %}
    <h1>Formulaire de création d'un zoo</h1>

    <div class="container-fluid">
        <form method="post" action="{{base_path ~ '/zoo'}}">

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nom du Zoo :</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nom du zoo">
                </div>
            </div>

            <div class="form-group row">
                <label for="city" class="col-sm-2 col-form-label">Ville : </label>
                <div class="col-sm-10">
                    <input type="text" name="city" class="form-control" id="city" placeholder="Ville où se trouve le zoo">
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Ajouter le zoo">
        </form>

    </div>

{% endblock content %}