{% extends 'base.html' %}

{% block content %}
    <h1>Formulaire de création d'un zoo</h1>

    <div class="container-fluid">
        <form method="post" action="{{base_path ~ '/zoo'}}">
            <div class="form-group row">
                <label for="nom" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                    <input type="text" name="nom" class="form-control" id="nom" placeholder="Nom du zoo">
                </div>
            </div>
            <div class="form-group row">
                <label for="description_courte" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                <textarea name="description_courte" class="form-control" id="description_courte" rows="3" placeholder="Description courte du zoo"></textarea>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Ajouter le zoo">
        </form>

    </div>

{% endblock content %}