{% extends 'base.html' %}

{% block content %}
    <h1>Voici la liste de tous les zoo :</h1>

    <div class="container">
        <div class="row">

            {% for zoo in zoos %}
            <div class="card mx-2 mb-2">
                <h5 class="card-header">Zoo # {{ zoo.id }}</h5>
                <div class="card-body">
                    <h5 class="card-title"> {{ zoo.name }} </h5>
                    <p>Se situe à : {{ zoo.city }} </p>
                    <a href="{{ base_path ~ 'zoo/'}}{{ zoo.id}}" class="btn btn-primary">Voir</a>
                </div>
            </div>
            {% endfor %}

        </div>    
    </div>


{% endblock content %}