{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
        <h1 class="display-4">Bienvenue au WF3 Zoo (MVC)</h1>
        <p class="lead">Vous êtes sur la page d'accueil.</p>
        </div>
    </div>

    <div class="header px-3 py-3 mx-auto text-center">
        <p class="lead">Au WF3 Zoo (MVC) vous pouvez consulter nos différentes catégories : </p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Animaux</h4>
                </div>
                <div class="card-body">
                    <p>Découvrez tous nos animaux</p>
                    <a href="{{ base_path ~ 'animal' }}" type="button" class="btn btn-lg btn-block btn-outline-primary">Découvrir</a>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Zoos</h4>
                </div>
                <div class="card-body">
                    <p>Découvrez tous nos zoos</p>
                    <a href="{{ base_path ~ 'zoo' }}" type="button" class="btn btn-lg btn-block btn-outline-primary">Découvrir</a>
                </div>
            </div>    
        </div>
    </div>

{% endblock content %}