{% extends 'base.html' %}

{% block content %}
    <h1>Formulaire de création d'un animal</h1>

    <div class="container">
        <form action="" method="get">
            <div class="form-group">
                <label for="name">Nom de l'animal : </label>
                <input type="text" name="name" id="name" class="form-control" placeholder="" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Help text</small>
            </div>
        </form>
    </div>

{% endblock content %}