{% extends 'base.html' %}

{% block content %}
    <h1>Voici la liste de tous les animaux :</h1>

    <div class="container">
        <div class="row">
            <div class="card mr-2 mt-3" style="width: 18rem;">
                <img src="{{ assets ~ '/img/simba.jpg'}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Simba</h5>
                    <p class="card-text">Simba est le fils de Mufasa. Après avoir grandit dans la jungle avec Timon et Pumba, il retourne auprès des siens et devient roi de Pride Rock.</p>
                    <a href="./animal/1" class="btn btn-primary">Voir</a>
                </div>
            </div>
        
            <div class="card mr-2 mt-3" style="width: 18rem;">
                <img src="{{ assets ~ '/img/nala.png'}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nahla</h5>
                    <p class="card-text">Nalha est l'amie d'enfance puis l'épouse de Simba.</p>
                    <a href="./animal/2" class="btn btn-primary">Voir</a>
                </div>
            </div>
        
            <div class="card mr-2 mt-3" style="width: 18rem;">
                <img src="{{ assets ~ '/img/bernard.jpg'}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bernard</h5>
                    <p class="card-text">Bernard est le concierge (atteint de triskaïdékaphobie) de la SOS Société, une organisation internationale de souris qui a élu domicile dans les caves du bâtiment des Nations unies.</p>
                    <a href="./animal/3" class="btn btn-primary">Voir</a>
                </div>
            </div>
        
            <div class="card mr-2 mt-3" style="width: 18rem;">
                <img src="{{ assets ~ '/img/miss_bianca.png'}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bianca</h5>
                    <p class="card-text">Miss Bianca est une souris blanche déléguée de Hongrie à la SOS Société. Elle choisi Bernard pour être son coéquipier pour aller à la rescousse de Penny (une jeune fille kidnapée).</p>
                    <a href="./animal/4" class="btn btn-primary">Voir</a>
                </div>
            </div>
        
        </div>    
    </div>


{% endblock content %}